<h2 class="Title">Group Index</h2>

<div class="indexbutton">
  <%= link_to '<button type="button">Add New Group</button>'.html_safe, new_group_path %> |
    <%= link_to '<button type="button">Home Page</button>'.html_safe, root_path %>
</div>

<table class="indextable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Posted</th>
      <th>Date</th>
      <th>Organizer</th>
      <th colspan="3"></th>
    </tr>

  </thead>

  <tbody>
    <% @groups.each do |group| %>
    <tr>
      <td>
        <%= link_to group.name, group_path(group) %><br>
      </td>
      <td>
        <%= "Posted on: #{group.created_at.strftime("%B %d %Y")}" %>
      </td>
      <td>

    <% end %>
  </tbody>
</table>
