<h1 class="Title">Search Results</h1>
<br >
<% if @events.empty? %>
  <div class="searchResult">
    <p>No results found.</p>

<% else %>

  <div class="searchResult">
    <p><%= "#{@events.count} result(s) found." %></p>
    <ul class="unstyled">
      <% @events.each do |event| %>
      <li>
        <%= link_to event.name, event %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
