<h1>Search Result</h1>

<p><%= link_bo 'Back', new_search_path %></p>

  <% if @search.search_boardgames.empty? %>
    <p>No Records Found</p>
  <% else %>
    <% @search.search_boardgames.each do |s| %>
    <div>
      <li><%= s.title %> <% s.description %></li>
    </div>
  <% end %>
<% end %>
