.forms {
  margin: auto;
  margin-top: 20px;
  width: 60%;
  background-color: #f2dabc;
  border-radius: 30px;
  font-size: 20px;
  padding: 20px;
}

.forms label {
  font-size: 25px;

}

.newLabel {

  background-color: #f2dabc;
  border-radius: 25px solid brown;
  color: #3a342f;
  font-size: 20px;
  padding: 10px;
}
