.forms {
  font-size: 4rem;
  margin: auto;
  width: 60%;
  background-color: #f2dabc;
  border-radius: 30px solid brown;
  font-size: 20px;
  padding: 20px;
}

.forms label {
  font-size: 20px;

}
.newLabel {

  background-color: #f2dabc;
  border-radius: 25px solid brown;
  color: #3a342f;
  font-size: 20px;
  padding: 10px;
}

.description {
  border: 3px solid brown;
  border-radius: 25px;
  background-color: #f2dabc;
  font-size: 20px;
  padding: 10px;
  margin: 2rem;
}
