.indextable {
  margin: auto;
}

.indextable th {
  background-color: #bae2e2;
  font-size: 20px;
}

.indextable td {

  font-size: 20px;
}
.searchbar {
  margin: auto;

}

.boardgametable {
  margin: auto;
}
