.center {
    margin: auto;
    width: 60%;
    border: 3px solid brown;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.indextable {
  margin: auto;
}


.searchbar {
  margin: auto;

}
