body {
  // background-image: image-url('caton.jpg');
  background-repeat: repeat;
  background-size: cover;
  // background-blend-mode: screen;
}

.image-url {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.flash{
  color: white;
}

.message {
  background-color: #a8a59a;
  border-radius: 25px;
  margin: auto;
  width: 60%;
  border: 3px solid brown;
  padding: 10px;
}

.cancel {
  background-color: #a8a59a;
  margin: auto;
  width: 60%;
  border: 3px solid brown;
  padding: 10px;
}

.remember_me {
  background-color: #a8a59a;
  border: 3px solid brown;
}
