<h1 class="Title small-6 center">Location</h1>

<div class="small-6 center">
  <% @locations.each do |location| %>
  <ul>
    <div class="locationName">
      <%= link_to location.name, location_path(location) %><br>
    </div>
      <%= location.address %><br>
    </ul>
  <% end %>
  <div>
    <%= link_to '<button type="button">New Location</button>'.html_safe, new_location_path %>|
      <%= link_to '<button type="button">Home Page</button>'.html_safe, root_path %>
  </div>
</div>
